
.logo_fadein{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.logo_fadein p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(50deg,#fff,#000);
}

.card {
	position: relative;
	width: 350px;
	height: 190px;
	background: rgb(0, 0, 0);
	border-radius: 20px;
	box-shadow: 0 35px 80px rgba(0,0,0,0.15);
}