
.logo {	
	width: 100%;
	position: relative;
}



.backimg {
	width: 100%;
	height: 60%;
	object-fit: cover;
	filter: blur(4px);
	margin: 0;
}

.logoimg {
	top: 100px;
	width: 50%;
	left: 25%;
	position: absolute;
}
.logo p {
	font-family: 'Press Start 2P', cursive;
	font-size: 6.5em;
	color: #FFF;
	position: absolute;
	top: 350px;
	width: 50%;
	left: 25%;
}



